<%= render :partial => 'listing', :locals => { :listing => @random_listing} %>
<div class="row">
    <div class="span7 box">
        <h1>List your bike</h1>
        <div class="span6 offset1">
            <%= form_tag({:controller => 'listings', :action => 'create', :method => 'post'},{:id => 'kyc'}) do %>
            <p>I already have an account.
                <%= link_to('Sign me in', user_session_path) %>
            </p>
            <fieldset class="control-group">
                <%= label_tag(:listing_title, 'Listing Title', :class => 'control-label') %>
                <div class="controls">
                    <%= text_field_tag(:listing_title, nil, :placeholder => @random_listing.title, :class => 'span5', :id => 'listing-title') %>
                </div>
            </fieldset>
            <fieldset class="control-group">
                <%= label_tag(:listing_description, 'Listing Description', :class => 'control-label') %>
                <div class="controls">
                    <%= text_area_tag(:listing_description, nil, :placeholder => @random_listing.description, :class => 'span5', :id => 'listing-description') %>
                </div>
            </fieldset>
            <fieldset class="control-group">
                <%= label_tag(:listing_location, 'Location', :class => 'control-label') %>
                <div class="controls">
                    <%= text_field_tag(:listing_location, nil, :placeholder => @random_listing.location, :class => 'span5', :id => 'listing-location') %>
                </div>
            </fieldset>
            <fieldset class="control-group">
                <%= label_tag(:listing_bike_type, 'Bike Type', :class => 'control-label') %>
                <div class="controls">
                    <%= select_tag(:listing_bike_type, options_for_select(["fixie", "hybrid", "road", "touring"]), :class => 'span5', :id => 'listing-bike-type') %>
                </div>
            </fieldset>
            <fieldset class="control-group">
                <%= label_tag(:listing_rent_price, 'Rental Price (in Dollars)', :class => 'control-label') %>
                <div class="controls">
                    <%= text_field_tag(:listing_rent_price, nil, :placeholder => @random_listing.price/100, :class => 'span5', :id => 'listing-rent-price') %>
                </div>
            </fieldset>
            <fieldset class="control-group">
                <%= label_tag(:"guest-street_address", 'Home Address', :class => 'control-label') %>
                <div class="controls">
                    <%= text_field_tag(:"guest-street_address", nil,  :class => 'span5', :id => 'guest-street_address') %>
                </div>
            </fieldset>            
            <fieldset class="control-group">
                <%= label_tag(:"guest-street_address", 'Home Address', :class => 'control-label') %>
                <div class="controls">
                    <%= text_field_tag(:"guest-street_address", nil,  :class => 'span5', :id => 'guest-street_address') %>
                </div>
            </fieldset>
            <fieldset class="control-group">
                <%= label_tag(:"guest-postal_code", 'Zip Code', :class => 'control-label') %>
                <div class="controls">
                    <%= text_field_tag(:"guest-postal_code", nil,  :class => 'span5', :id => 'guest-postal_code') %>
                </div>
            </fieldset>
            <%= hidden_field_tag(:"guest-state", nil, :id => 'guest-state') %>
            <%= hidden_field_tag(:"guest-country_code", 'USA', :id => 'guest-country_code') %>
            <fieldset class="control-group">
                <%= label_tag(:"guest-phone_number", 'Phone Number', :class => 'control-label') %>
                <div class="controls">
                    <%= text_field_tag(:"guest-phone_number", nil,  :class => 'span5', :id => 'guest-phone_number') %>
                </div>
            </fieldset>
            <div class="control-group">
                <%= label_tag(:date_of_birth_month, 'Date of Birth') %>
            <%= select_tag(:"guest-date_of_birth_month", options_for_select(1.upto(12).map{ |num| [num,num] }), :class => 'span1', :id => 'guest-date_of_birth_month') %>
            <%= select_tag(:"guest-date_of_birth_year", options_for_select(1900.upto(1993).map{ |num| [num,num] }), :class => 'span1', :id => 'guest-date_of_birth_year') %>
            </div>
            <fieldset>
                <legend>
                    Add your bank account
                    <span>(optional)</span>
                </legend>
                <fieldset class="control-group">
                    <%= label_tag(:account_number, 'Account Number', :class => 'control-label') %>
                    <div class="controls">
                        <%= text_field_tag(:account_number, nil, :id => 'account_number') %>
                    </div>
                </fieldset>
                <div class="control-group">
                    <%= label_tag(:bank_code, 'Routing Number') %>
                    <%= text_field_tag(:bank_code, nil, :id => 'bank_code') %>
                    <span id="bank-code-result"></span>
                </div>
            </fieldset>
            <div class="actions">
                <%= submit_tag("Save") %>
            </div>
            <% end %>
        </div>
    </div>
</div>
