<div class="row">
    <div class="span7 box">
        <h1>Checkout</h1>
        <div class="span6 offset1">
            <%= form_tag({:controller => 'rentals', :action => 'create', :method => 'post'}, {:id => 'purchase'}) do %>
            <p>
              I already have an account.
              <%= link_to('Sign me in', user_session_path) %>
            </p>
            <div>
              <label>Name on Card</label>
              <input type="text" id="guest-name" name="guest-name" autocomplete="off" />
            </div>
            <div>
              <label>Card Number</label>
              <input type="text" id="guest-number" name="guest-number" autocomplete="off" maxlength="16" />
            </div>
            <div>
              <label>Expiration</label>
              <%= select_tag(:"guest-expiration_month", options_for_select(1.upto(12).map{ |num| [num,num] }), :class => 'span1', :id => 'guest-expiration_month') %>
              <%= select_tag(:"guest-expiration_year", options_for_select(Time.now.year.upto(Time.now.year+10).map{ |num| [num,num] }), :class => 'span1', :id => 'guest-expiration_year') %>
            </div>
            <div>
              <label>Card Verification Code (CVV)</label>
              <input type="text" id="guest-cvv" name="guest-cvv" class="span1" autocomplete="off" maxlength="4" />
            </div>
            <div>
              <label>Postal Code</label>
              <input type="text" id="guest-postal_code" name="guest-postal_code" class="span1" autocomplete="off" />
            </div>
            <div>
              <%= label_tag(:"guest-email_address", 'Email', :class => 'control-label') %>
              <%= text_field_tag(:"guest-email_address", nil,  :class => 'span5', :id => 'guest-email_address') %>
            </div>
            <%= hidden_field_tag(:listing_id, @listing.id) %>
            <div>
              <%= submit_tag 'Rent', class: 'btn-primary' %>
            </div>
            <% end %>
            <a href="https://www.balancedpayments.com"><img src="https://balancedpowered.s3.amazonaws.com/secured-1-1.png" alt="Secured by Balanced"></a>
        </div>
    </div>
</div>
