<div class="row">
  <div class="span7 box">
    <h1>Forgot your password?</h1>
    <div class="span6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>

        <div><%= f.submit 'Send me reset password instructions', class: 'btn-primary' %></div>
      <% end %>

      <%= render partial: 'devise/shared/links' %>
    </div>
  </div>
</div>
