<div class="row">
  <div class="span7 box">
    <h1>Sign in</h1>
    <div class="span6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>

        <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>

        <div><%= f.submit "Sign in", class: 'btn-primary' %></div>
      <% end %>

      <%= render partial: 'devise/shared/links' %>
    </div>
  </div>
</div>




